---
layout: default
---

{% if page.lang == "ru" %}
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v7.0&appId=2057058471282299&autoLogAppEvents=1" nonce="Cjhybdvf"></script>
{% else %}
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v7.0&appId=2057058471282299&autoLogAppEvents=1" nonce="Cjhybdvf"></script>
{% endif %}

<div class="col-sm-12">
  <h1>{{ page.title }}</h1>

    {{ content }}

  <div class="panel panel-default">
    <div class="panel-heading text-right">
      {{ site.data.localization.written[page.lang] }} {{ page.date | date: "%B %e, %Y" }}
    </div>
  </div>

  <div class="row">
    <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-width="" data-layout="standard" data-action="like" data-size="small" data-share="true">

    </div>
  </div>

  <div class="fb-comments" data-href="https://developers.facebook.com/docs/plugins/comments#configurator" data-numposts="15" data-width="">
  </div>


</div>
